/* these are the main colors and header image
   replace them with anything you want! */
:root {
    --header-bg: url('images/IMG_4881.jpeg');
    --accent-color: #e27e97;
    --link-color: #c3385b;
    --bg-color: #fdb3cc;
    --bg-color2: #c2f9ff;
    --text-color: #4e1b3e;
    --favorite-color: #ffe3eb;
    /* you can change the stripe colors easily from here */
    --stripe-color: #ffc4d8;
    --stripe-color2: #feb5d0;
}

/* you can get hex codes from sites like this:
   https://palettes.shecodes.io/    
   i just looked up "css color templates" to find that link! */

/* this applies to all the content */
* {
    color: var(--text-color);
    /* change the font here, it's set up to all use the same one */
    font-family: monospace;
    border-radius: 1em;
}

/* this is for when you select text on the page */
::selection {
    background: var(--accent-color);
    color: var(--bg-color);
}

body {
    background-color: var(--bg-color2);
    margin: 0;
    font-size: 1em;
}

.corps {
    width: 800px;
}

/* i think having better line spacing helps text to be more readable, but you can remove it if you want */
p {
    line-height: 1.5em;
}

header {

    background-color: var(--accent-color);
    /* you can add the image url in :root (at the top) if you want */
    background: var(--header-bg);
    background-size: 100%;
    background-position: center;
    /* change the minimum height if you want it to take up more/less space */
    min-height: 200px;
    /* can also limit the size of the header if you don't want to fill up the top. i recommend at least 800px tho! */
    /*max-width: 980px;*/
    margin: 0 auto;
    border-top: 4px solid var(--text-color);
    border-bottom: 4px solid var(--text-color);
    /* i have a default border-radius set, but i didn't want rounded corners on this element */
    border-radius: 0;
    display: flex;
    align-items: center;
}

/* this is your site title displayed at the top of the page */
header>h1 {
    margin: 20px auto;
    border-radius: .3em;
    max-width: 100%;
    padding: 12px 15%;
    font-size: 3.5em;
    /* you can change the text-align to center or right if you want it placed differently */
    text-align: center;
    background-color: var(--bg-color);
    border: 2px solid var(--text-color);
    text-shadow: var(--bg-color2) 1px 1px 3px;


}

/*enlève le soulignement des liens titres*/
body>h2,
a {
    text-decoration: none;
}



nav {

    padding: 1em;
    margin: 1em;
    font-weight: bold;
    font-size: 14px;
}

nav>ul {
    max-width: 960px;
    margin: auto;
    line-height: 3rem;
    /* this line takes away the dot in front of the list items */
    list-style-type: none;
    /* list items have default padding but we don't need it for these */
    padding-left: 0;
    /* and this spaces out the buttons so they're not touching */
    justify-content: space-evenly;
}

nav li {
    display: flex;
    text-align: center;
    justify-content: center;
}

nav li>a {
    display: flex;
    background-color: var(--favorite-color);
    box-shadow: var(--accent-color) 4px 4px;
    /* padding: .5em 3em; /*
    /* this takes away the link underline */
    text-decoration: none;
    justify-content: center;
    align-content: space-evenly;
    margin: 10px;
    max-width: 175px;
    flex: 1;

}

nav li>a:hover {
    box-shadow: var(--text-color) 4px 4px;
}

a {
    color: var(--link-color);
    border-radius: .3em;
    text-shadow: var(--bg-color) 1px 1px 2px;
    font-weight: bold;
    transition: background-color 400ms ease-out;

}

.mediaonly {
    display: none;
}

a:visited {
    color: var(--text-color);
}

a:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

/* you can change this to anything you want :) */
ul {
    list-style-type: "❤︎ ";
}

.sidebarsticky {
    position: sticky;
    top: 4%;

}


#sidebar {
    /* made the stripe bg with a generator:
    https://stripesgenerator.com/
     */

    background-image: linear-gradient(45deg, var(--stripe-color) 25%, var(--stripe-color2) 25%, var(--stripe-color2) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--stripe-color2) 75%, var(--stripe-color2) 100%);
    background-size: 65.05px 65.05px;
    min-width: 250px;
    max-width: 250px;
    max-height: 800px;
    margin: 1em;
    padding: 1em;
    border: 2px solid var(--text-color);
    box-shadow: var(--accent-color) 4px 4px;
}

#avatar {
    margin: .5em auto;
    box-shadow: var(--accent-color) 4px 4px;
    /* image size is 160px so i made its container a little bigger to fit the borders */
    max-width: 200px;
    max-height: 200px;
    border-radius: 1.5em;
}

#avatar img {
    display: flex;
    justify-content: center;
    background: var(--lighter-color);
    max-width: 200px;
    height: auto;
    border: 2px solid var(--text-color);
    border-radius: 1.5em;
}

#bio {
    display: none;
    margin: 1em;
    background: var(--favorite-color);
    border: 2px solid var(--text-color);
    box-shadow: var(--accent-color) 4px 4px;
    text-shadow: var(--bg-color2) 0 0 2px;
    font-size: 0.9em;
}

#bio p {
    margin: 1em;
}

#content {
    display: flex;
    max-width: 960px;
    margin: auto;
    padding-top: 1%;
}

main {
    background-color: var(--favorite-color);
    padding: 1em 2em;
    margin: 1em;
    border: 2px solid var(--text-color);
    box-shadow: var(--accent-color) 4px 4px;
    text-shadow: var(--bg-color2) 1px 1px 3px;

    * {
        box-sizing: border-box;
    }

}

main>h1,
main>h2,
main>h3 {
    background-color: var(--bg-color);
    border-radius: .4em;
    padding: .2em .5em;
    text-shadow: var(--bg-color2) 1px 1px 3px;
    max-width: 100%;
}

/* a class for centering text and images */
.center {
    text-align: center;
}

footer {
    background-color: var(--bg-color);
    text-shadow: var(--bg-color2) 1px 1px 3px;
    text-align: center;
    font-size: small;
    padding: 1em;
    margin: 1em auto;
    max-width: 960px;
}

.map {
    min-width: 100%;
    min-height: 300px;
}

/* these are the mobile styles! */

@media only screen and (max-width: 800px) {
    #content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

  

    main>h2 {
        font-size: 1.2em;
    }


    header {
        position: sticky;
        top: 0;
        min-height: 120px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    header>nav {
        display: flex;
        justify-content: center;
        position: sticky;
        z-index: 1;
    }

    header>h1 {
        font-size: 2em;
        margin: .3em;
    }

    .map {
        min-width: 90%;
        min-height: 100%;
    }

    .computeronly {
        display: none;
    }

    nav>ul {
        /* this stuff makes it wrap around on mobile */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
    }

    nav li>a {
        display: flex;
        justify-content: center;
        margin: 10px;
        
    }
/*
    #avatar {
        margin: 0 1em;

    }
        */
/*
    #bio {
        width: 80%;
    }
        */

    main {

        margin: 0 1em;

    }

    main>h1 {
        font-size: 1.7em;
        margin: .2em;
    }

/*
    #sidebar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 5px;
        min-width: 200px;
        font-size: larger;

    }

    #sidebar li {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 5px;
        min-width: 200px;
    }
*/
    footer {
        margin: 1em;
    }

    .responsive {
        width: 49.9999999;
        margin: 1px 0px;
        font-size: small;

    }

    /* Menu hamburger dynamique ?
pas hyper convaincue par le fait de faire sortir de l'écran puis rentrer comme transition */



    a {
        transition: 200ms;
    }

    #menuToggle {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 25%;
        left: 33%;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;

    }



/*la hitbox du bouton*/
    #menuToggle input {

        display: flex;
        justify-content: center;
        top: -3%;
        left: -2.9%;
        width: 40px;
        height: 32px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 2;


    }

    #menuToggle span {
        display: flex;
        justify-content: center;
        width: 29px;
        height: 2px;
        margin-bottom: 5px;
        position: relative;
        background: #c3385b;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 5px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;

    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;

    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: #c3385b;
    }

    #menuToggle input:checked~span:nth-last-child(3) {

        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);

    }

    #menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: linear-gradient(45deg, var(--stripe-color) 25%, var(--stripe-color2) 25%, var(--stripe-color2) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--stripe-color2) 75%, var(--stripe-color2) 100%);
        background-size: 65.05px 65.05px;
        position: relative;
        top: 0;
        width: 350px;
        height: 275px;
        box-shadow: 0 0 10px #4e1b3e;
        margin: -10% 0% 0% -47%;
        padding: 20px;
        padding-top: 20px;
        transform-origin: 0% 0%;
        transform: translate(-200%, 0%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, );
        font-size: large;

    }

    #menu li {

        transition-delay: 2s;
    }

    
    #menuToggle input:checked~ul {
        transform: none;
    }

    #sidebar {
        display: none;

    }

    #sidebarsmart {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(45deg, var(--stripe-color) 25%, var(--stripe-color2) 25%, var(--stripe-color2) 50%, var(--stripe-color) 50%, var(--stripe-color) 75%, var(--stripe-color2) 75%, var(--stripe-color2) 100%);
        background-size: 65.05px 65.05px;
        min-width: 50px;
        max-width: 50px;
        min-height: 15px;
        max-height: 15px;
        margin: 1em;
        padding: 1em;
        border: 2px solid var(--text-color);
        box-shadow: var(--accent-color) 4px 4px;

    }


    .mediaonly {
        display: flex;
    }

}





/* pour la galerie */

div.gallery {
    border: 5px solid var(--favorite-color);
    justify-content: space-between;
    align-content: space-between;

}

div.gallery:hover {
    transform: scale(1.5);
    /* this scales up the image when you hover over it */
    object-fit: contain;
    /* this keeps the aspect ratio of the original images*/

}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
}



.responsive {
    padding: px 2px;
    float: left;
    width: 24.99999%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}